[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
torch = "*"
torchvision = "*"
torchmetrics = "*"
tqdm = "*"
captum = "*"
ipykernel = "*"
openpyxl = "*"
mlxtend = "*"
pip = "*"
jupyter = "*"
pot = "*"
zennit = "*"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "*"
